.experience__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.experience__container > div {
	background-color: #2c2c6c99;

	padding: 2.4rem 5rem;
	border-radius: 2rem;
	border: 1px solid transparent;
	cursor: default;
	transition: var(--transition);
}

.experience__container > div:hover {
	background: transparent;
	border-color: var(--color-primary-variant);
}

.experience__container > div h3 {
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 2rem;
	color: var(--color-primary);
}

.experience__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 5rem;
}

.experience__details {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.experience__details-icon {
	font-size: 1.8rem;
	color: var(--color-primary);
}

/* =============== MEDIA QUERY (MEDIUM DEVICES) 1024px ==================== */
@media screen and (max-width: 1024px) {
	.experience__container {
		grid-template-columns: 1fr 1fr;
	}

	.experience__container > div {
		width: 100%;
		padding: 2rem 1rem;
		margin: 0 auto;
	}

	.experience__details {
		justify-content: center;
	}

	.experience__content {
		row-gap: 8rem;
	}
}

/* =============== MEDIA QUERY (SMALL DEVICES) 600px ==================== */
@media screen and (max-width: 600px) {
	.experience__container {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
	.experience__container > div {
		width: 100%;
		padding: 2rem 1rem;
	}
	.experience__content {
		row-gap: 5rem;
	}
}
